.container{
    display: flex;
    width:100%;
    padding: 10px;
    flex-direction: column;
    line-height: 40px;
    border-bottom: 2px solid #000;
}
.board_item_container{
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding : 5px;
    align-items: center;
}

.container div{
    display: inline-block;
}

.list_top{
    width:100%;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.list_top div{
    display: inline-block;
    font-weight: bold;
    font-size: 1.0rem;
    opacity: 1.0;
}

.top_recommend{
    width:10%;
}

.num{
    width:10%;
    font-size:0.8rem;
    font-weight: bold;
}

.board_title{
    width:50%;

}
.board_title_text{
    cursor:pointer;
}


.board_id{
    width:12%;
    font-size:0.8rem;
}


.board_date{
    width:10%;
    font-size: 0.6em;
    opacity: 0.3;
}


.recommend{
    width:5%;
    line-height: 40px;
    margin-left:20px;
}

.list_menu{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: coral;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-right: 5px;
}




.board_page{
    margin-top:30px;
    text-align: center;
    font-size: 0;
}


.board_page > a.bt {
    padding-top:10px;
    font-size: 0.5rem;
    align-items: center;
}


